.beyond-classroom{
    background-color: #004d1a;
    padding: 0;
}
.beyond-section {
    text-align: center;
    max-width: 1455px;
    padding-top: 70px;
    color: #ffffff;
}
.beyond-image{
    max-width: 100%;
    padding-bottom: 20px;
    margin-top: -8px;

}
.beyond-container {
    display: flex;
    padding: 100px;
    text-align: left;
}
.beyond {
    flex: 1;
    margin: 10px;
    padding-bottom: 30px;
    background-color: #ffffff;
    color: #1a1e21;
}
.textPadding{
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .beyond-container {
        flex-direction: column;
        align-items: center;
    }

    .beyond {
        max-width: 100%;
    }
}