/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
}

.main-section {
    display: flex;
    max-width: 100%;
    gap: 20px;
    /* margin: 0 auto; */
    padding: 4% 2% 4% 2%;
}

.content-right {
    flex: 1;
}

.content-left {
    flex: 0;
}
.images{
    /* height: 530Px; */
    /* width: 500px; */
}

/* .content-left h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-family: 'Georgia', serif;
} */

.video-card {
    background-image: url('https://via.placeholder.com/500x300');
    background-size:contain;
    background-position: center;
    position: relative;
    border-radius: 10px;
    /* height: 300px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.video-overlay h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.video-overlay p {
    font-size: 1em;
    margin-bottom: 20px;
}

.play-button {
    background-color: #fff;
    color: #333;
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.content-right h2 {
    font-family: 'Kameron';
    font-size: 22px;
    font-weight: 700;
}

.events-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.event-card {
    background-color: #ffffff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}
.last-card{
    padding: 5% 3%;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    text-align: left;
}

h4{
    font-weight: 600;
}
.event-card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.event-card h3 {
    font-size: 1.2em;
    color: #333;
    font-family: 'Georgia', serif;
}

.event-card small {
    font-size: .85em;
    color: #666;
    line-height: 1;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .main-section {
        flex-direction: column;
        padding: 20px;
    }

    .events-grid {
        grid-template-columns: 1fr;
    }
}
