/* .rohit-classroom{
    background-color: #FFBB04;
    padding: 0;
}
.rohit-section {
    text-align: center;
    padding: 4% 2% 4% 2%;
}
.rohit-image{
    max-width: 100%;

}
.rohit-image-bottom{
    max-height: 90%;
   float: right;

}

.rohit-container {
    display: flex;
    text-align: center;
}
.rohit {
    flex: 1;
    width: 80%;
    color: #1a1e21;
}

.rohit-text p{
    text-align: left;
    flex: 1;
    width: 100%;
    padding-left: 30%;
}

@media screen and (max-width: 768px) {
    .rohit-container {
        flex-direction: column;
        align-items: center;
    }

    .rohit {
        max-width: 100%;
    }
} */

.rohit-classroom {
    background-color: #f7ce46;
    /* padding: 30px 0; */
    max-width: 100%;
}

.rohit-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rohit-image, .rohit-image-bottom {
    border-radius: 10px;
    max-width: 100%;
    height: 50vh;
}

.rohit-text p {
    /* font-size: 1rem; */
    color: #333;
    /* line-height: 1.6; */
    text-align: left;
    margin-left: 8%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .rohit-text {
        margin-top: 20px;
    }

    .rohit-container {
        flex-direction: column;
        gap: 20px;
    }
}
