.image-rectangle img {
    border-radius: 36px 0px 0px 36px;
    max-width: 100%;
    height: -webkit-fill-available;

}

.image-rectangle {
    width: 100%;
    background-color: #FFBB04;
    border-radius: 36px 0px 0px 36px;
}

.welcome-section {
    padding: 4% 0 6%;
    margin-right: 0;
    max-width: 100%;
}

h2 {
    font-family: "Kameron";
    font-size: 36px;
    font-weight: 600;
}

h2 span {
    font-family: "Kameron";
    font-weight: 400;
    display: inline-block;
}

p {
    font-family: 'Inter';
    font-weight: 400;
    /* line-height: 29.05px; */
}

.about-welcome {
    padding-left: 12%;
    padding-right: 2.5%;

}

.image-layout {
    height: 100%;
    width: 85%;
    padding: 2rem;
    border-radius: 36px 0px 0px 36px;
}


@media (max-width: 768px) {
    .welcome-section {
        flex-direction: column;
        padding: 0;
    }

    .about-welcome {
        padding: 20px;
    }

    .image-rectangle{
        height: 70%;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    }

    h2{
        font-size: 28px;
    }
}

@media (max-width:560px){
    h2{
        font-size: 22px;
    }
}