.container-fluid, .why-dps,.row{
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.beyond-classroom img, .testimonials img {
  border-radius: 10px;
}

.testimonial-item {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.read-more {
  text-decoration: none;
  color: #014828;
  font-family: 'Inter';
  font-weight: 600;
  line-height: 29.05px;

}