.container-fluid, .why-dps, .row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.testimonial-item {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.read-more {
  text-decoration: none;
  color: #014828;
  font-family: 'Inter';
  font-weight: 600;
  line-height: 29.05px;

}

.common-section-padding {
  padding: 4% 12%;
}

h2 {
  font-family: "Kameron";
  font-size: 36px;
  font-weight: 600;
}

.highlight-main-body {
  display: none;
}

@media (max-width: 768px) {
  p {
    font-size: 14px;
  }

  .common-section-padding {
    padding: 20px;
  }

  .school-main-body {
    display: none !important;
  }

  .highlight-main-body {
    display: block;
  }
}